/**/
@font-face {
    font-family: "Montserrat";
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Para selecionar Tags apenas escrever tag| para selecioanar classes .nomedaclasse*/
.container-grid{
    /* Pode ser 80vw*/
    width: 80%;
    max-width: 1400px;

    /* margin: 20px - Espaçamento externo de 20px */
    /* margin: 20px 10px - Espaçamento 20px na vertical, 10px na horizontal */
    /* margin: 20px 10px 5px - Espaçamento 20px na vertical, 10px na horizontal, 5px para baixo */
    /* margin: 20px 10px 5px 2px - Espaçamento 20px na vertical, 10px na horizontal, 5px para baixo, 2px para esquerda*/

    margin: 0 auto;
}

/* Seleciona a classe que recebera a customização | atalho bgc */
.banner {
    /* vh = viewport e a porcentagem da ALTURA da tela */
    /* vw = viewport e a porcentagem da LARGURA da tela */
    height: 100vh;
    /* atalho - ctrl + espaço para selecionar a imagem com mais facilidade*/
    background-image: linear-gradient(90deg, rgba(53, 24, 104, 1) 0%, rgba(53, 24, 104, 0.8) 100%), url(img/bg-room.png);
    background-repeat: no-repeat;
    /* atalho - bgp */
    background-position: 165% 40%;
}

header {
    height: 165px;
}

header img {
    width: 234px;
}

header .container-grid{
    height: 100%;

    /* Priimeiro tem que tornar flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Para ser mais especifico pode ser nav.menu */
.menu {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

/* Dentro da tag Menu estou selecionando todos os as*/
.menu a {
    font-family:'Anta';
    font-size: 18px;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    color: white;
/* Transition - normalmente serve para criar animações de transição*/
    transition: text-decoration 500ms ease;
}
.menu a:hover{
    text-decoration-color: white;
}

.conteudo-banner{
    height: calc(100vh - 280px);
    display: flex; 
    align-items: center;
}

.conteudo-banner p {
    color: white;
    font-family: "Anta";
    font-size: 32px;
    
}

#sobre {
    height: 800px;
    padding: 100px 25%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
h2{
    font-size: 28px ;
    font-family: "Anta";
}
#sobre p{
    font-size: 17px ;
    text-align: left;
    font-family: "Montserrat";
}