 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap');

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: "Poppins";
 }

 .poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
    display: grid;
    place-content: center;
    min-height: 100dvh;
    width: 100%;
    background-color: rgb(250, 250, 250);
}

.countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: rgb(20, 20, 20);
    gap: 32px;
}

.title {
    grid-column: 4 span;
    text-align: center;
    font-size: 22px;
}

.box {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.value {
    font-size: 64px;
    font-weight: 700;
}

.name {
    font-size: 16px;
}